nav > ul {
    padding: 0;
    display:flex;
    justify-content: space-between;
    
}
nav > ul > li {
    font-size: 25px;
    /* bez toÄkica unutar display*/
    display: inline-block;
    width: 20%;
    background-color: rgb(208, 230, 10);
    /* tekst je u centru background color*/
    text-align: center;
}
nav > ul > li:hover {
    background-color: darkorange;
    color: white;
    border-radius: 15px;
}
nav > ul > li:active {
    /*na klik oboja pozadinu*/
    background-color: rgb(39, 12, 138);
    color:blueviolet;
}
nav > ul > li > a {
    line-height: 35px;
    text-decoration: none;
    color: inherit;
}